# Node
node_modules/
npm-debug.log*
.env
.DS_Store
**/node_modules/

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Editor config
**/.vscode/
.idea/
.vscode/

# Build output
dist/
build/

# OS
Thumbs.db
Desktop.ini

# Optional npm cache directory
.npm

# Vue
*.local
public/assets/